__pycache__/
*.py[cod]
*$py.class

*.so

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

pip-log.txt
pip-delete-this-directory.txt

.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

*.manifest
*.spec

venv/
ENV/
env/
.venv/
venv.bak/

.mypy_cache/
.dmypy.json

.pyre/

.ipynb_checkpoints

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store

.env
.env.*

*.log
*.sqlite3

*.pyc
__pypackages__/
.cache/

node_modules/

*.egg
*.whl

local_settings.py
